.blog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.blog-image {
  height: 300px;
  margin-right: 15px;
}
.blog-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-details-title {
  color: #000000;
  font-family: 'Roboto';
  font-size: 25px;
}
.author-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.author-pic {
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.author-name {
  color: #8e8e8e;
  font-family: 'Roboto';
  font-size: 15px;
  text-decoration: none;
}
.blog-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.blog-content {
  color: #000000;
  font-family: 'Roboto';
  font-size: 15px;
  width: 300px;
}